body, html, .row {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pageTop {
  background-color: red;
}

#blogTitle {
  display: inline-block;
  background-color: pink;
}

#topNav {
  display: inline-flex;
  text-align: right;
  float:right;
  list-style: none;
  background-color: orange;

}

#topNav > li {
  padding: 20px;
}
