body, html, .row {
  margin: 0;
  padding: 0;
  height: 100%;
}

.pageTop {
  background-color: red;
}

#logo {
  padding: 1.5% 0 0 8%;

}

#blogTitle {
  display: inline-block;
  background-color: pink;
}

#topNav {
  display: inline-flex;
  text-align: right;
  float:right;
  list-style: none;
  padding-right: 8%;
  background-color: orange;

}

#topNav > li {
  padding: 20px;
}

.titleSection {
  text-align: center;
}

.pageBodyText {
  display: block;
  width: 35%;
  margin: auto;
  background-color: green;
}

#bottomNav {
  display: inline-flex;
  float:right;
  list-style: none;
  background-color: orange;

}
